.container{
  background-color: skyblue;
  height: 200px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-element{
  font-size: 20px;
  text-shadow: -3px 3px 5px rebeccapurple;
}