
.user-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    border: 2px solid #b4b4b4;
    margin: 2rem 1rem;
}
  .green-dot{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: green;
    margin-left: 10px;
}
.card{
    height: 100px;
    width: 300px;
    border: 2px solid slateblue;
    margin: 10px 5px;
    text-align: center;
    padding: 1rem 0;
}
.title{
    text-align: center;
    color: blueviolet;
}

.avatar{
    border-radius: 50%;
}