* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.card {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid skyblue;
  border-radius: 1rem;
}
