form{
    width: 350px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.formgroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}
.formgroup input[type=radio]{
    margin: 0 5px;
}
button{
    margin: 0;
}
/* button:hover{
    cursor: pointer;
    background-color:green;
    color: white;
} */
 form p{
    color: red;
    font-size: 12px;
    font-style: italic;
}