main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkblue;
    flex-wrap: wrap;
    border: 2px solid darkorchid;
    border-radius: 10px;
    padding: 10px;
}
h3{
    border: 1px solid saddlebrown;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}